name: Docker Image CI

on:
  repository_dispatch:
    types:
      - trigger-ci

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  DEFAULT_BASE_IMAGE: debian:bullseye-slim

jobs:
  build-and-push:
    name: Build and push
    strategy:
      matrix:
        base_image:
          - debian:bullseye-slim
          - debian:bullseye
          - ubuntu:latest
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Get info
        id: info
        run: |
          echo "::set-output name=repo::$(echo ${GITHUB_REPOSITORY#*/})"
          echo "::set-output name=base_image::$(tr ':' '_' <<< '${{ matrix.base_image }}')"
          echo "::set-output name=default_image::$(tr ':' '_' <<< '${{ env.DEFAULT_BASE_IMAGE }}')"

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.7.0
        id: buildx
        with:
          install: true
          driver: docker-container
          driver-opts: |
            image=moby/buildkit:master
            network=host

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        if: steps.info.outputs.base_image == steps.info.outputs.default_image
        uses: docker/metadata-action@v3.7.0
        with:
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.info.outputs.repo }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=edge,priority=700,value=${{ github.event.client_payload.branch }}
            type=raw,priority=200,value=SHA${{ github.event.client_payload.sha }}
            type=semver,priority=900,pattern={{version}},value=${{ github.event.client_payload.ref }}
            type=match,pattern=master,group=0,value=${{ github.event.inputs.tag }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta2
        if: steps.info.outputs.base_image != steps.info.outputs.default_image
        uses: docker/metadata-action@v3.7.0
        with:
          images: |
            ${{ secrets.DOCKERHUB_USERNAME }}/${{ steps.info.outputs.repo }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,priority=900,value=${{ steps.info.outputs.base_image }}
            type=raw,priority=800,value=${{ steps.info.outputs.base_image }}-latest
            type=raw,priority=500,value=${{ steps.info.outputs.base_image }}-SHA${{ github.event.client_payload.sha }}
            type=raw,priority=400,value=${{ github.event.client_payload.ref }}-${{ steps.info.outputs.base_image }}
            type=raw,priority=300,value=${{ github.event.client_payload.ref }}-${{ steps.info.outputs.base_image }}-SHA${{ github.event.client_payload.sha }}

      - name: Log in to the Container registry
        uses: docker/login-action@v1.14.1
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v1.14.1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2.10.0
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags || steps.meta2.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels || steps.meta2.outputs.labels }}
          build-args: |
            VERSION=${{ github.event.client_payload.ref }}
            PROFILE=${{ github.event.client_payload.profile }}
            UPSTREAM=${{ github.event.client_payload.upstream }}
            BASE_IMAGE=${{ matrix.base_image }}
            RUNTIME_DEPS=${{ github.event.client_payload.runtime_deps }}
